*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://t4.ftcdn.net/jpg/04/61/47/03/360_F_461470323_6TMQSkCCs9XQoTtyer8VCsFypxwRiDGU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
position: relative;
}
.container .wrapper{
    width: 60vw;
    height: 75vh;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    margin: 5rem auto;
    overflow: hidden;
}
.container .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 30% ease-in-out infinite
    alternate ;
}
.container #slider-img-1{
    background-image: url(https://scontent.fmnl17-4.fna.fbcdn.net/v/t1.15752-9/432345064_3522212991424128_5943807239577740899_n.png?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHW_cHn_7pEad2mHbjxcQbxn-syse6huqSf6zKx7qG6pEf89FBgHyIE_yh1B5kjEuv9Ylqlcg_WAdk2YS-bL46w&_nc_ohc=PdMHYMkwA4gAX_FmYVp&_nc_ht=scontent.fmnl17-4.fna&oh=03_AdR-mMsbZEclwpQ2YUvECcZgCmiRZPJ2ZLER5I9Ci1RTLw&oe=6620DF07);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container #slider-img-2{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/FvfValenzuela1152_05.JPG/640px-FvfValenzuela1152_05.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.container #slider-img-3{
    background-image: url(https://static.wixstatic.com/media/9cdbfb_f3896b271e294b38b64a256aebeba1c8~mv2.jpg/v1/fill/w_2250,h_1242,al_c,q_90/2019-10-30_edited.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container #slider-img-4{
    background-image: url(https://fastly.4sqi.net/img/general/600x600/14073488_yvmGOButRZPbAEm_4qeV-NpEiIJ4IcN9CmbK-qPtOtg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container .button-holder .button{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container .button-holder{
    position: absolute;
    left: 45%;
    bottom: 0%;
}
.button:hover{
    box-shadow: 0px 0px 7px 4px rgba(50, 163, 175, 0.6);
}
@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}
