*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://t4.ftcdn.net/jpg/04/61/47/03/360_F_461470323_6TMQSkCCs9XQoTtyer8VCsFypxwRiDGU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
position: relative;
}
.container .wrapper{
    width: 60vw;
    height: 75vh;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    margin: 5rem auto;
    overflow: hidden;
}
.container .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 30% ease-in-out infinite
    alternate ;
}
.container #slider-img-1{
    background-image: url(https://scontent.fmnl33-4.fna.fbcdn.net/v/t1.15752-9/432636686_406013052119989_5382853635797531723_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG8fggebIw7Jr8k0nDo6ztMXWxj9pWDiFxdbGP2lYOIXEKVGQKzaNLGYD-uoYQFw-xuVqwfoQ9AieLCQsG-FcTz&_nc_ohc=rMOvm9oeolQAX_nsBXx&_nc_ht=scontent.fmnl33-4.fna&oh=03_AdQddOpDCnEvGlNa8aN8Z_wzFBnjyw6mezdPBP5vJ-NuIg&oe=662147DC);
    background-position: center;
    background-size: cover;
}
.container #slider-img-2{
    background-image: url(https://scontent.fmnl33-2.fna.fbcdn.net/v/t1.15752-9/431369144_990154169160353_9046863019816448089_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFOYe0AeoRFFocvN_EBRXMwa_QkRawLfzFr9CRFrAt_MdDEtmbbkZy_MZTpWP_nR8LtRCgD-ZshHKhfdMGfwHGD&_nc_ohc=7BzpwKRMumQAX9ltUUR&_nc_ht=scontent.fmnl33-2.fna&oh=03_AdQUbR11t8lwbX6R1G8e5-PtSoiluP9XmPL8BfmR2w-qPA&oe=6621339E);
    background-position: center;
    background-size: cover;
}
.container #slider-img-3{
    background-image: url(https://scontent.fmnl33-6.fna.fbcdn.net/v/t1.15752-9/431419389_925545702633250_5332608571255048447_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFw2_7F-eDWL8pHO7AP0yg17jKQa6hqCE3uMpBrqGoITQGEK-L9-4aG74blXqw0DIl3Ugkgbj0_18M2Np8s7nh2&_nc_ohc=nJKiFylEfBQAX_Ak66v&_nc_ht=scontent.fmnl33-6.fna&oh=03_AdSCmlbc97prvIAUnv-MwA79ccvQeGPtT1fMKDl_6Ct7Pw&oe=662130B2);
    background-position: center;
    background-size: cover;
}
.container #slider-img-4{
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/432623442_296825109904148_8465049621990998289_n.jpg?stp=dst-jpg_s206x206&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ienRPHrxjpMAX8yxjAe&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTjkq-nvQiERlbdwBcESjETUnUQ20rnR_qeecowGoi28w&oe=6621FD42);
    background-position: center;
    background-size: cover;
}
.container .button-holder .button{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container .button-holder{
    position: absolute;
    left: 45%;
    bottom: 0%;
}
.button:hover{
    box-shadow: 0px 0px 7px 4px rgba(50, 163, 175, 0.6);
}
@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}
