body{
    margin: 0;
    padding: 0;
    background: url(https://www.reddit.com/r/PixelArt/comments/ounggi/outer_space_purple_theme_this_is_my_second_pixel/#lightbox) no-repeat;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic' ,sans-serif;
}
.box-img{
    border-radius: 0%;
    width: 200px;
    height: 200px;
    transition: 1s;
}
.box :hover{
    transform:scale(1.1);
    z-index: 1;
}
