*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://t4.ftcdn.net/jpg/04/61/47/03/360_F_461470323_6TMQSkCCs9XQoTtyer8VCsFypxwRiDGU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
position: relative;
}
.container .wrapper{
    width: 60vw;
    height: 75vh;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    margin: 5rem auto;
    overflow: hidden;
}
.container .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 30% ease-in-out infinite
    alternate ;
}
.container #slider-img-1{
    background-image: url(https://scontent.fcrk1-4.fna.fbcdn.net/v/t39.30808-6/414943027_7202541673130945_3247105193900121005_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFmnPNPNVsAUqU2_Wuxh8gxvOnrPIrt_Nm86es8iu382Y40uJ5TRzt20FZ7Szdy7Qh8pUNUeYjTjHi9LJxPRPcc&_nc_ohc=iYH7eTDWG3gAX84DZwp&_nc_ht=scontent.fcrk1-4.fna&oh=00_AfCLmBmA9GVYHikGcibV8D__IXhsIfTQdbqZJJLXPoSVBA&oe=65FDBC0B);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container #slider-img-2{
    background-image: url(https://scontent.fmnl25-3.fna.fbcdn.net/v/t39.30808-6/415682651_7202548193130293_812680752676105727_n.jpg?stp=cp6_dst-jpg&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=gyq8kAaQ_4sAX_44Mr0&_nc_ht=scontent.fmnl25-3.fna&oh=00_AfCaNU5Mg6gpRe2cL8AuMbjH4DmyeXsN2_ZWQMBoIgu-NQ&oe=66006173);
    background-position: center;
}
.container #slider-img-3{
    background-image: url(https://scontent-mnl1-2.xx.fbcdn.net/v/t39.30808-6/416940187_7227646730620439_2071765355565220535_n.jpg?stp=cp6_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=yhd6IAZu2LcAX_PzSjt&_nc_ht=scontent-mnl1-2.xx&oh=00_AfApD7N4O8zIaRubwMwjo460NceXWqX5wiW4aK6zrn8n2A&oe=65FF36D7);
    background-position: center;
}
.container #slider-img-4{
    background-image: url(https://scontent.fmnl25-3.fna.fbcdn.net/v/t39.30808-6/415681854_7202548266463619_2770902742768764529_n.jpg?stp=cp6_dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=hgIZG2LS1RkAX-4TcJh&_nc_ht=scontent.fmnl25-3.fna&oh=00_AfBuPICfVgds3M7hLABbp9IHpHOZyhr6AaMc4aFePryCBA&oe=66001CC6);
    background-position: center;
}
.container .button-holder .button{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container .button-holder{
    position: absolute;
    left: 45%;
    bottom: 0%;
}
.button:hover{
    box-shadow: 0px 0px 7px 4px rgba(50, 163, 175, 0.6);
}
@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}
